@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .h-half-screen {
        min-height: 50vh;
    }

    .text-center-webkit {
        text-align: -webkit-center;
    }

    /* Screen height minus navbar and footer */
    .h-screen-minus-navbar {
        min-height: calc(100vh - 4rem - 3.5rem);
    }
}
