@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .min-h-1\/2-screen {
            min-height: 50vh;
        }
        .min-h-1\/4-screen {
            min-height: 25vh;
        }
    }

    .text-center-webkit {
        text-align: -webkit-center;
    }

    /* Screen height minus navbar and footer */
    .h-screen-minus-navbar {
        min-height: calc(100vh - 4rem);
    }
}
